@import "src/components/styles/modules/color_variables";
.inEvent{
   border-bottom: 1px solid $tiffany-color;
}

.notInEvent{
    background-color: $dark-blue-color;
    border-radius: 6px;
    opacity: 0.25;
    width: 24px;
    height: 3px;
}

.selectedDate{
    background-color: $dark-blue-color;
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.28px;
    width: 40px;
    text-align: center;
}